#!/bin/bash

alias sail='sh $([ -f sail ] && echo sail || echo vendor/bin/sail)'
alias s='sail'

artisan() {
    if [ -f docker-compose.yml ]; then
        sail artisan "$@"
    else
        php artisan "$@"
    fi
}

alias a='artisan'
alias am='artisan migrate:fresh --seed'
alias amf='artisan migrate:fresh --seed --force'
alias aoc='artisan optimize:clear'
alias ao='artisan optimize'
alias amv="artisan make:view"
alias amm="artisan make:model"
alias amc="artisan make:controller"
alias alm="artisan livewire:make"
alias alf="artisan livewire:form"

alias serve='php artisan serve'
alias up='sail up -d'
alias down='sail down'
alias tinker='artisan tinker'
alias stan="vendor/bin/phpstan"

if command -v eza >/dev/null 2>&1; then
    alias ll="eza -a --icons --tree --level=1 --git --long --group"
    alias ls="eza -a --icons"
else
    alias ll="ls -alFh"
    alias ls="ls -a"
fi

if command -v bat >/dev/null 2>&1; then
    alias cat='bat'
fi

alias lsq="lazysql"
alias ld="lazydocker"

lg() {
    if [ "$PWD" = "$HOME" ]; then
        yadm enter lazygit
    else
        lazygit
    fi
}

commit() {
    if [ "$PWD" = "$HOME" ]; then
        yadm enter geminicommit
    else
        geminicommit
    fi
}

alias yadm="cd $HOME && yadm"
alias ylg="yadm enter lazygit"

alias dc="docker-compose"
alias d="docker"
alias dockclean="~/.scripts/docker-clean-operation.sh"

alias p="pnpm"
alias pi="pnpm install"
alias prd="pnpm run dev"
alias prb="pnpm run build"

alias nv="nvim"
alias gone="~/.scripts/git-delete-untracked-branches.sh"
alias nah="git reset --hard && git clean -df"
alias sshk="kitten ssh"
alias pokemon="pokemon-colorscripts --no-title -r 1,3,6"

alias sudo='sudo ' # Pass aliases through sudo

alias sshconf="cat ~/.ssh/config"

alias nvimbak="~/.scripts/nvimbak.sh"

alias normalnv="NVIM_APPNAME=normalnvim nvim"
alias rnv="NVIM_APPNAME=rnvim nvim"
alias lnv="NVIM_APPNAME=lazyvim nvim"
alias ripnv="NVIM_APPNAME=ripnv nvim"
alias lazyvim="NVIM_APPNAME=lazyvim nvim"
alias nvchad="NVIM_APPNAME=nvchad nvim"
alias nvchad2="NVIM_APPNAME=nvchad2 nvim"

t() {
    sesh connect "${1:-$(sesh list --hide-attached |
        fzf \
            --height 40% \
            --reverse \
            --border-label ' Pick a dir to open as a tmux session ' \
            --border \
            --prompt '⚡  ')}"

}

alias ta="tmux attach"
alias cl="clear"
alias comp="composer"

alias clone="git clone"
alias gp="git push"
alias gls="git log --pretty='%C(cyan)%ad %C(yellow)%h %C(cyan)%d %Creset%s %C(red)%aN' --date-order --graph --date=format:%d/%m/%y\ %H:%M:%S --all --stat"
alias gl="git log --pretty='%C(cyan)%ad %C(yellow)%h %C(cyan)%d %Creset%s %C(red)%aN' --date-order --graph --date=format:%d/%m/%y\ %H:%M:%S --all"
